
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
<script src="js/main.js"></script>

<script>
!function(t,a,c,o,y,u,m){t.GoogleAnalyticsObject=c;t[c]||(t[c]=function(){
(t[c].q=t[c].q||[]).push(arguments)});t[c].l=+new Date;u=a.createElement(o);
m=a.getElementsByTagName(o)[0];u.src=y;m.parentNode.insertBefore(u,m)}
(window,document,'ga','script','//www.google-analytics.com/analytics.js');

ga('create', 'UA-70767654-1', 'auto');
ga('send', 'pageview');
</script>
