//Mixins

@mixin paddinghack($containerwidth, $ratiowidth, $ratioheight){
    position: relative;
    width: $containerwidth;
    height: 0;
    padding: (($ratioheight / $ratiowidth) * $containerwidth) 0 0 0;
}
// @include paddinghack(width, ratiowidth, ratioheight)
